@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

@font-face {
    font-family: 'MemomentKkukkukkR';
    src: url('../font/memoment/MemomentKkukkukkR.woff2') format('woff2'),
        url('../font/memoment/MemomentKkukkukkR.woff') format('woff'),
        url('../font/memoment/MemomentKkukkukkR.eot');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* 폰트 */
    --fontSize-h1: 100px;
    --fontSize-md: 50px;
    --fontSize-s: 20px;
    --fontSize-xs: 16px;


    /* 컬러 */
    --color-border: #FAE38C;
    --color-background: #F2F2F2;
    --color-black: #222222;

    /* 마진 */
    --margin-b-lg: 80px;
    --margin-b-md: 50px;
    --linehight1: 1.3;
    --linehight2: 1.5;


}

body {
  font-family: 'Pretendard Variable', sans-serif;
  background-color: #F2F2F2;
  color: #222222;
  font-weight: 500;

  

}

#wrap {
    max-width: 1920px;
    margin: 0 auto;
    
    
}



