@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

@font-face {
    font-family: 'MemomentKkukkukkR';
    src: url('../font/memoment/MemomentKkukkukkR.woff2') format('woff2'),
        url('../font/memoment/MemomentKkukkukkR.woff') format('woff'),
        url('../font/memoment/MemomentKkukkukkR.eot');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: 'Pretendard Variable', sans-serif;
  background-color: #F2F2F2;
  color: #222222;
  font-weight: 500;

  

}

#wrap {
    max-width: 1920px;
    margin: 0 auto;
    
}



