@charset "utf-8";
@import url('reset.css');
@import url('common.css');




body {
    overflow-x: hidden;
}

.loading span {
    font-family: 'MemomentKkukkukkR';

    font-weight: normal;
    color: #222222;
    font-size: 50px;
}

.header .inner .center .gnb li a {
    font-family: 'MemomentKkukkukkR';

    font-weight: normal;
}

.section-04 .inner .item_wrap .item_inner .left .text h2 {
    font-family: 'MemomentKkukkukkR';

    font-weight: normal;
}

.main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide h2 {
    font-family: 'MemomentKkukkukkR';
    font-size: 100px;
    font-weight: normal;
    color: #F2F2F2;
}

.section-05 .inner .text h3 {
    font-family: 'MemomentKkukkukkR';
    font-size: 60px;
    font-weight: normal;
    color: #222222;
}

.section-08 .inner .right .text h3 {
    font-family: 'MemomentKkukkukkR';

    font-weight: normal;
    color: #222222;
}



.section-07 .inner .title h3 {
    font-family: 'MemomentKkukkukkR';
    font-size: 100px;
    font-weight: normal;
    color: #222222;
}

/* 로딩페이지 */
.loading {
    position: fixed;
    inset: 0;
    background: linear-gradient(#fffaf5, #ffeef3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    

}

.loading>div {
    position: relative;
    display: flex;
    flex-direction: column;
    /* 세로 정렬 */

    gap: 20px;
}


/* 발자국 span img 공통 스타일 */
.loading span:nth-child(-n+4) img {
    width: 40px;
    opacity: 0;
    transform: translateY(20px);
    animation: pawDrop 0.5s forwards;
}


.loading span:nth-child(1) img {
    position: absolute;
    top: -10%;
    left: -20px;
    animation-delay: 0s;
}

.loading span:nth-child(2) img {
    position: absolute;
    top: 30%;
    left: 40px;
    animation-delay: 0.5s;
}

.loading span:nth-child(3) img {
    position: absolute;
    top: 50%;
    left: -40px;
    animation-delay: 1s;
}

.loading span:nth-child(4) img {
    position: absolute;
    top: 90%;
    left: 40px;
    animation-delay: 1.5s;
}



@keyframes pawDrop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.loading span:nth-child(5) {
    margin-top: 50px;
    font-size: 50px;
    color: #ff8ba7;
    opacity: 0;
    animation: fadeInText 1s forwards;
    animation-delay: 2s;
    text-align: center;
    display: block;
}


.loading span:nth-child(6),
.loading span:nth-child(7) {
    font-size: 28px;
    color: #ffb6c1;
    opacity: 0;
    position: relative;
    animation-fill-mode: forwards;
}

.loading span:nth-child(6) {
    animation: floatZ 3s ease-in-out forwards;
    animation-delay: 3s;
}

.loading span:nth-child(7) {
    animation: floatZZ 3s ease-in-out forwards;
    animation-delay: 3.8s;
}

@keyframes fadeInText {
    to {
        opacity: 1;
    }
}

@keyframes floatZ {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.8);
    }

    50% {
        opacity: 1;
        transform: translateY(-20px) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px) scale(0.8);
    }
}

@keyframes floatZZ {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.8);
    }

    50% {
        opacity: 1;
        transform: translateY(-25px) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px) scale(0.8);
    }
}



/* 헤더 */
.header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    margin: 0 auto;
    z-index: 99;
    position: fixed;
    transition: top 0.7s ease;
}

.header.active {
    top: -100px;
    opacity: 0;
}



.header .inner {
    width: calc(100% - 90px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 53px;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #A3A3A3;

}

.header .inner .left {}

.header .inner .left .logo a {
    width: 178px;
    height: 53px;
    display: block;

}

.header .inner .left .logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .inner .center .gnb {
    display: flex;
    gap: 60px;
}

.header .inner .center .gnb li a {
    font-size: 20px;
}

.header .inner .nav .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    gap: 36px;
}


.header .inner .nav .gnb li a {
    width: 20px;
    font-size: 20px;
    display: block;
}

.header .inner .center .gnb li a:hover {
    background-color: #fae28c93;
    padding: 0 5px;
    display: block;

}

.header .inner .nav .gnb li a img {
    width: 100%;

    object-fit: cover;
    background-color: transparent;
}

.header .inner .nav .gnb li:nth-child(2) a {
    width: 20px;

    display: block;
}

.header .inner .nav .gnb li:last-child {
    display: none;
}



/* 메인1 */

.main {}

.main .main_visual {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.main .main_visual .swiper.mySwiper {

    width: 100%;
    height: 100vh;
}

.main .main_visual .swiper.mySwiper .swiper-wrapper {}

.main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide {}

.main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .pc {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .mobile {
    display: none;
}

.main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    line-height: 1.3;
    font-size: 100px;
    display: block;
    white-space: nowrap;

}




.main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);

}

.main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .text strong {
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;


}

.main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .text p {
    font-size: 22px;
    display: block;
    line-height: 1.5;
    margin-top: 70px;
}

.main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .text p strong {
    font-size: 22px;
    display: inline-block;
}

.main .main_visual .swiper.mySwiper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #FAE38C;

}

.main .main_visual .swiper.mySwiper .swiper-button-next {
    width: 40px;
    height: 42px;

}

.main .main_visual .swiper.mySwiper .swiper-button-next img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .main_visual .swiper.mySwiper .swiper-button-prev {
    width: 40px;
    height: 42px;

}

.main .main_visual .swiper.mySwiper .swiper-button-prev img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .main_visual .swiper.mySwiper .swiper-button-next:after,
.main .main_visual .swiper.mySwiper .swiper-button-prev:after {
    display: none;
}



/* 메인2 */
.section-02 {

    width: 100%;

}

.section-02 .inner {
    width: calc(100% - 32px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: flex-start;
    padding: 250px 0;
    overflow: hidden;
    position: relative;


}

.section-02 .inner .text_wrap {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--fontSize-s);
    line-height: 1.8;
    margin-left: 100px;


}

.section-02 .inner .text_wrap p {
    color: #222222;
    text-align: left;
    display: block;
    margin-bottom: 130px;

}

.section-02 .inner .text_wrap p strong {
    display: block;
    white-space: nowrap;
}

.section-02 .inner .text_wrap span a {
    background-color: #FAE38C;
    display: inline-block;
    border: 1px solid #B7B2B2;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50px;
    font-weight: bold;


}

.section-02 .inner .image_wrap {

    height: 100vh;
    margin-left: 250px;
    padding-bottom: 200px;

}

.section-02 .inner .image_wrap .scroll-box {
    width: calc(100vw * 13);
    /* 이미지 13개니까, 최소 13배는 줘야 함 */
    display: flex;
    gap: 80px;
    white-space: nowrap;
    position: relative;
    /* sticky는 gsap pin이 처리하므로 필요 없음 */
    overflow: visible;
    /* gsap 스크롤 애니메이션을 위해 visible */
    padding: 200px 0;
}

.section-02 .inner .image_wrap .scroll-box li {
    flex: 0 0 auto;
    width: 520px;
    height: 520px;
}

.section-02 .inner .image_wrap .scroll-box li .box {
    width: 100%;
    height: 100%;
}

.section-02 .inner .image_wrap .scroll-box li .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-02 .inner .image_wrap .scroll-box li.a {
    transform: rotate(-15deg);
}

.section-02 .inner .image_wrap .scroll-box li.c {
    transform: rotate(-8deg);
}

.section-02 .inner .image_wrap .scroll-box li.b {
    transform: rotate(-10deg);
}

/* 메인3 */
.section-03 {}

.section-03 .video {
    width: 100%;

}



.section-03 .video .pc {

    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.section-03 .video .pc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-03 .video .mobile {
    display: none;
}

/* 메인4 */
.section-04 {
    width: 100%;
    /* height: 100vh; */
    margin: 0 auto;

}

.section-04 .inner {}

.section-04 .inner .item_wrap {
    width: 100%;
    padding: 150px 0;

    flex-direction: column;
    margin: 0 auto;
    background-color: antiquewhite;

}

.section-04 .inner .item_wrap .item_inner {
    width: 80%;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-04 .inner .item_wrap .item_inner:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 1;
}

.section-04 .inner .item_wrap:nth-of-type(2) {

    background-color: #D5B28D;



}

.section-04 .inner .item_wrap:last-of-type {

    background-color: #99B28E;

}

.section-04 .inner .item_wrap .item_inner .image {
    width: 49.15%;
    order: 1;
}

.section-04 .inner .item_wrap .item_inner .left {
    position: relative;
}

.section-04 .inner .item_wrap .item_inner .image img {

    width: 100%;
    object-fit: cover;
}

.section-04 .inner .item_wrap .item_inner .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
    line-height: 157.62%;

}

.section-04 .inner .item_wrap:nth-of-type(2) .item_inner .left {
    order: 1;
}

.section-04 .inner .item_wrap .item_inner .left .text {
    color: var(--color-black);
    text-align: left;
    display: inline;

}

.section-04 .inner .item_wrap .item_inner .left .text h2 {
    font-size: 100px;


}

.section-04 .inner .item_wrap .item_inner .left .text p {
    font-size: var(--fontSize-s);
    line-height: var(--linehight2);
    margin: 80px 0 100px;

}

.section-04 .inner .item_wrap .item_inner .left .btn {

    background: url('../img/main4-button.svg') center center / 100% no-repeat;
    width: 340px;
    height: 72px;




}

.section-04 .inner .item_wrap .item_inner .left .btn:hover {
    background: url('../img/main4-button-hov.svg') center center / 100% no-repeat;
    width: 340px;
    height: 72px;
    color: #F2F2F2;

}

.section-04 .inner .item_wrap .item_inner .left .btn a {
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 72px;
    margin-right: 40px;







}

.section-04 .inner .item_wrap .item_inner .left .btn img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}


/* 메인5 */
.section-05 {
    width: 100%;

    background: #FAE38C;
    background: linear-gradient(180deg, rgba(250, 227, 140, 0) 5%, rgba(250, 227, 140, 1) 100%);



}

.section-05 .inner {

    /* height: 100vh;  추후에 추가*/
    position: relative;
    background-image: url('../img/main5.png');
    background-repeat: no-repeat;

    background-position: cover;

}

.section-05 .inner .wrap {
    position: relative;
}

.section-05 .inner .wrap .item {
    background-image: url('../img/main5-db3.png');
    margin-top: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    background-size: contain;
    position: relative;

}

.section-05 .inner .wrap .item li {
    position: relative;
}

.section-05 .inner .wrap .item li:nth-child(1) {

    width: 50%;
    position: absolute;
    top: 10%;
    right: 30%;


}

.section-05 .inner .wrap .item li:nth-child(2) {
    width: 51%;
    position: absolute;
    top: 30%;
    right: 20%;

}

.section-05 .inner .wrap .item li:nth-child(1) img {
    width: 100%;
    object-fit: cover;
}

.section-05 .inner .wrap .item li:nth-child(2) img {
    width: 100%;
    object-fit: cover;
}


.section-05 .inner .wrap .text {
    margin-top: 350px;
}

.section-05 .inner .wrap .text h3 {
    font-size: 100px;
    line-height: var(--linehight1);
    text-align: center;
}

.section-05 .inner .wrap #item_box {
    position: relative;
    width: 100%;
    height: 100vh;


}

.section-05 .inner .wrap #item_box li {
    width: 20%;
    height: 300px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;


}

.section-05 .inner .wrap #item_box li img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: block;
}



.section-05 .inner .box_wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.section-05 .inner .box_wrap .box-01 {
    display: flex;
    justify-content: space-between;

    object-fit: contain;


    animation: Box1 10s ease-in-out infinite;
    /* 이름    시간 반복횟수  반복방향  움직임종류 */
}

.section-05 .inner .box_wrap .box-01 li,
.section-05 .inner .box_wrap .box-02 li {

    position: relative;


}

.section-05 .inner .box_wrap .box-01 li img,
.section-05 .inner .box_wrap .box-02 li img {
    width: 400px;
    height: auto;

}

.section-05 .inner .box_wrap .box-02 {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    animation: Box2 10s ease-in-out infinite;
}


/* 메인6 */

.section-06 {
    padding-top: 250px;
    width: 100%;

    padding: 150px 0;
    background-color: #fff;
}

.section-06 .inner {
    border: 1px solid #222222;
}

.section-06 .inner .text {
    overflow: hidden;
}

.section-06 .inner .text ul {
    background-color: transparent;
    color: #222222;
    font-size: 32px;
    font-weight: bold;

    width: 100%;

    animation: textSlide 10s infinite linear;
    /* overflow: hidden; */


}


.section-06 .inner .text ul {
    display: flex;

    justify-content: space-between;
    gap: 10px;
}

.section-06 .inner .text ul li {
    padding: 25px 0;


}


.section-06 .inner .image_box {
    padding: 25px;
    border-top: 1px solid #222222;
    overflow-x: auto;
}

.section-06 .inner .image_box ul {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    gap: 20px;

    overflow-x: auto;
    padding-bottom: 10px;
}

.section-06 .inner .image_box ul li {
    width: 350px;
    height: 451px;
    flex: 0 0 auto;


}

.section-06 .inner .image_box ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section-06 .inner .image_box ul li:hover {
    transform: scale(1.2);
    /* 1.2배 확대 */
    transition: transform 0.4s ease;

}

.section-06 .inner .image_box ul li:hover img {}


.section-06 .inner .text_wrap {
    width: 100%;
    border: 1px solid #222222;

}

.section-06 .inner .text_wrap ul {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.section-06 .inner .text_wrap ul li {
    font-size: 20px;
    padding: 25px 0;
}

.section-06 .inner .text_wrap ul li a {}




/* 메인7 */
.section-07 {
    margin: 250px 0;



}

.section-07 .inner {
    background-image: url('../img/main7_pc.png');


    margin: 0 auto;
    background-repeat: no-repeat;


    background-size: cover;
    background-position: center center;


    display: block;
    text-align: center;


}

.section-07 .inner .title {
    width: 100%;
    margin: 100px auto;
}

.section-07 .inner .title h3 {
    margin-bottom: 50px;
    font-size: 100px;
}

.section-07 .inner .title p {
    font-size: 20px;
    margin-bottom: 80px;
}

.section-07 .inner .btn {
    width: 200px;
    height: 60px;
    background-color: #FAE38C;
    border-radius: 50px;
    margin: 0 auto;
    border: 1px solid #B7B2B2;
    text-align: center;
    margin-bottom: 250px;

}

.section-07 .inner .btn:hover {
    color: #F2F2F2;
    background-color: #61AEF6;

}

.section-07 .inner .btn a {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    line-height: 60px;

}


/* 메인8 */
.section-08 {}

.section-08 .inner {
    width: calc(100% - 190px);

    display: flex;
    margin: 0 auto;
    gap: 30px;
    justify-content: space-between;

}

.section-08 .inner .image {
    width: 50%;
    height: 800px;


}

.section-08 .inner .image ul {
    width: 100%;


    display: flex;

    gap: 15px;


}

.section-08 .inner .image ul li {
    width: 100%;

    position: relative;

    display: block;
}

.section-08 .inner .image ul li img {

    width: 100%;

    object-fit: cover;
}

.section-08 .inner .image ul li:nth-child(1):hover img {

    transform: scale(1) translateY(5px);
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
}

.section-08 .inner .image ul li:nth-child(2):hover img {

    transform: scale(1) translateY(5px);
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
}

.section-08 .inner .right {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-08 .inner .right .text {}

.section-08 .inner .right .text h3 {
    font-size: 5vw;
    margin-bottom: 25px;
}

.section-08 .inner .right .text p {
    font-size: 20px;
    margin-bottom: 70px;
}

.section-08 .inner .right .icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;

}

.section-08 .inner .right .icon a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-09 {
    display: none;
}

.section-09 .inner .item {
    cursor: pointer;
    display: block;
}


/* 푸터 */
.footer {
    width: 100%;

    background: #FAE38C;
    background: linear-gradient(180deg, rgba(250, 227, 140, 0) 5%, rgba(250, 227, 140, 1) 100%);
}

.top_btn.active {
    display: block;

}

.top_btn {
    position: fixed;
    display: none;
    right: 3%;
    bottom: 10%;
    background-color: transparent;
    cursor: pointer;
}

.footer .logo {
    width: 151px;
    height: 45px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;


}

.footer .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.footer .inner {



    width: calc(100% - 96px);


}

.footer .inner .text_wrap {
    width: calc(100% - 96px);
    font-size: 16px;
    display: flex;
    flex-direction: column;

    border-top: 0.5px solid #c9c9c9;
    padding-top: 35px;
    margin: 0 auto;
}

.footer .inner .text_wrap .gnb-01,
.footer .inner .text_wrap .gnb-02,
.footer .inner .text_wrap .gnb-03,
.footer .inner .text_wrap .gnb-04,
.footer .inner .text_wrap .gnb-05 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.footer .inner .text_wrap .gnb-01 li {}

.footer .inner .text_wrap .gnb-01 li a {}

.footer .inner .text_wrap .gnb-05 {
    border-bottom: 0.5px solid #c9c9c9;
    padding-bottom: 35px;
    line-height: 22px;

}

.footer .inner .text_wrap .gnb-05 img {
    width: 159px;
    object-fit: cover;
    padding-right: 10px;

}

.footer .inner .text_wrap .gnb-06 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.footer .inner .text_wrap .gnb-06 p {
    font-size: 16px;



}


/* 애니메이션 */
@keyframes Box1 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-500px);
    }

}

@keyframes Box2 {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0%);
    }

}

.section-05 .inner .box-01 li,
.section-05 .inner .box-02 li {
    white-space: nowrap;
}

@keyframes textSlide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-80%);
    }
}

.section-06 .inner .text ul li {
    white-space: nowrap;
}





/* 미디어쿼리 */
@media screen and (max-width: 1700px) {
    .header .inner .center .gnb li a {
        font-size: 20px;
    }

}

@media screen and (max-width: 1200px) {
    .header .inner .center .gnb {
        display: flex;

        gap: 30px;

    }

    .header .inner .center .gnb li a {
        font-size: 14px;

    }


    .section-03 .video .pc {
        display: block;
        width: 100%;
    }

    .section-03 .video .mobile {
        display: none;
    }

    .section-03 .video .pc {
        width: 100%;
        margin: 0 auto;
    }

    .section-04 .inner .item_wrap .item_inner .left .text h2 {
        font-size: 70px;

    }

}

@media screen and (max-width: 900px) {
    .header .inner {
        width: calc(100% - 32px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 24px;
        text-align: center;
    }


    .header .inner .center {
        display: none;
    }

    .header .inner .nav .gnb {
        gap: 15px;
    }

    .header .inner .nav .gnb li:first-child a {
        display: none;
    }

    .header .inner .nav .gnb li:first-child a img {
        display: none;
    }

    .header .inner .nav .gnb li:nth-child(2) a {
        display: block;
        width: 30px;
    }

    .header .inner .nav .gnb li:nth-child(2) a img {
        width: 100%;

        object-fit: cover;
    }


    .header .inner .nav .gnb li:nth-child(3) a {
        display: none;



    }

    .header .inner .nav .gnb li:nth-child(3) a img {

        display: none;

    }

    .header .inner .nav .gnb li:last-child {
        display: block;
    }

    .header .inner .nav .gnb li:last-child a {

        width: 34px;

        display: block;

    }

    .header .inner .nav .gnb li:last-child a img {
        width: 100%;

        object-fit: cover;
        display: block;

    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 80%);
        line-height: 1.3;
        font-size: 50px;
        display: block;

        white-space: nowrap;

    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .text {
        display: flex;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -40%);
        line-height: 1.3;
        font-size: 50px;
        display: block;


    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .text strong {
        font-size: 32px;
        display: flex;
        white-space: nowrap;

    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .text p,
    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .text p strong {

        display: block;
        font-size: 16px;
        line-height: 1.3;
        white-space: nowrap;
    }


    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .mobile {
        display: none;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .pc {
        display: block;
        width: 100%;
    }

    .section-03 .video .pc {
        display: block;
        width: 100%;
    }

    .section-03 .video .mobile {
        display: none;
    }

    .section-03 .video .pc {
        width: 100%;
        margin: 0 auto;
    }

    .section-04 .inner {
        width: calc(100% - 32px);
        height: auto;
        margin: 0 auto;
    }

    .section-04 .inner .item_wrap .item_inner {
        position: relative;
    }

    .section-04 .inner .item_wrap .item_inner .left {
        width: 48%;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        line-height: 1.4;
        margin-right: 10px;
    }

    .section-04 .inner .item_wrap .item_inner .left .text h2 {
        font-size: 50px;
        display: block;
    }

    .section-04 .inner .item_wrap .item_inner .left .text p {
        font-size: 16px;
        display: block;
        flex-wrap: wrap;
        margin: 30px 0 50px;
    }

    .section-04 .inner .item_wrap .item_inner .left .btn a {
        font-size: 16px;
        line-height: 60px;
        background-size: contain;
        display: block;
    }

    .section-04 .inner .item_wrap .item_inner .left .btn {
        width: 276px;
        height: 60px;
        position: absolute;
        top: 300px;
    }

    .section-04 .inner .item_wrap .item_inner .left .btn:hover {
        width: 276px;
        height: 60px;

    }



    .section-04 .inner .item_wrap .item_inner .image {

        width: 48%;



    }

    .section-04 .inner .item_wrap .item_inner .image img {
        width: 100%;

        object-fit: contain;
    }

    .section-05 .inner .wrap .text h3 {
        font-size: 50px;
    }

    .section-05 .inner .wrap .item {
        position: relative;
        margin-top: 0;

    }

    .section-05 .inner .wrap .item li:nth-child(1) img {
        position: absolute;
        top: 300px;
    }

    .section-05 .inner .wrap .item li:nth-child(2) img {
        position: absolute;
        top: 10px;
    }

    .section-06 .inner .image_box ul {
        flex-wrap: nowrap;

        gap: 16px;
        overflow-x: auto;
    }


    .section-06 .inner .text_wrap ul li {
        font-size: 16px;
    }

    .section-06 .inner .text_wrap ul {
        flex-wrap: nowrap;

    }

    .section-06 .inner .text_wrap {
        overflow-x: auto;
    }

    .section-07 .inner .title h3 {
        font-size: 50px;
        margin-bottom: 20px;

    }

    .section-07 .inner .title p {
        font-size: 16px;
        margin-bottom: 45px;
    }

    .section-08 .inner {
        width: calc(100% - 32px);
    }

    .section-08 .inner .image ul li {
        height: 400px;
    }

    .section-08 .inner .image ul li img {
        height: 100%;
        object-fit: cover;
    }

    .section-08 .inner .right .text h3 {
        font-size: 50px;

        margin-bottom: 15px;
    }

    .section-08 .inner .right .text p {
        font-size: 16px;
        margin-bottom: 35px;
    }

    .section-08 .inner .right .icon {
        width: 40px;
        height: 40px;

    }

    .section-09 {
        display: block;
    }

    .section-09 .inner {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 50px;
        padding-bottom: 100px;
    }

    .section-09 .inner .item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .section-09 .inner .item .call {
        width: 38px;
        height: 34px;
        display: block;
    }

    .section-09 .inner .item .call img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-09 .inner .item .mail {
        width: 38px;
        height: 32px;
        display: block;
    }

    .section-09 .inner .item .mail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-09 .inner .item .text {
        font-size: 24px;
        display: block;
    }



    .footer .inner {
        width: calc(100% - 32px);
        margin: 0 auto;


    }

    .footer .inner .text_wrap {
        display: flex;
        font-size: 12px;


    }

    .footer .inner .text_wrap ul li a {
        margin-right: 10px;
        display: block;
    }

    .footer .inner .text_wrap .gnb-06 p {
        font-size: 12px;
        padding-bottom: 30px;
    }

}

/* 900 */



@media screen and (max-width: 760px) {
    .section-02 .inner .text_wrap {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 16px;
        line-height: 1.6;
        margin-left: 80px;


    }

    .section-02 .inner .text_wrap p {
        color: #222222;
        text-align: left;
        display: block;
        margin-bottom: 100px;

    }

    .section-02 .inner .text_wrap p strong {
        display: block;
        white-space: nomal;
    }

    .section-02 .inner .text_wrap span a {
        background-color: #FAE38C;
        display: inline-block;
        border: 1px solid #B7B2B2;
        width: 150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50px;
        font-weight: bold;


    }

    .section-04 .inner .item_wrap .item_inner .left .text h2 {
        font-size: 30px;
    }

    .section-04 .inner .item_wrap .item_inner .left .text p {
        font-size: 14px;
    }

    .section-04 .inner .item_wrap .item_inner .left {
        position: relative;
    }

    .section-04 .inner .item_wrap:nth-child(1) .item_inner .left .btn,
    .section-04 .inner .item_wrap:nth-child(3) .item_inner .left .btn {
        width: 240px;
        height: 60px;
        position: absolute;
        top: 250px;
        left: 0;

    }

    .section-04 .inner .item_wrap .item_inner .left:nth-child(2) .btn {
        width: 240px;
        height: 60px;
        position: absolute;
        top: 250px;
        left: 0;

    }

    .section-08 {
        margin-bottom: 100px;
    }

    .section-08 .inner {
        display: flex;
        align-items: flex-start;
        /* 위쪽 기준 정렬 */
        gap: 20px;
        /* 이미지와 텍스트 사이 간격 */
    }

    .section-08 .image ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* 이미지들 간격 */
        width: 50%;

    }

    .section-08 .image ul li img {
        width: 100%;
        /* 원하는 크기 */
        height: auto;
        object-fit: cover;
        display: block;
    }

    .section-08 .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* 세로 중앙 정렬 */
        text-align: left;
    }

    .section-09 .inner .item .text {
        font-size: 24px;
        display: block;
    }

    .footer .inner {
        width: calc(100% - 16px);
        margin: 0 auto;


    }

    .footer .inner .text_wrap .gnb-01,
    .footer .inner .text_wrap .gnb-02,
    .footer .inner .text_wrap .gnb-03,
    .footer .inner .text_wrap .gnb-04,
    .footer .inner .text_wrap .gnb-05 {
        margin-bottom: 0px;


    }

    .footer .inner .text_wrap {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;


    }

    .footer .inner .text_wrap ul li {
        padding-bottom: 20px;
    }

    .footer .inner .text_wrap ul li a {
        margin-right: 5px;
        display: block;
        flex-wrap: wrap;


    }

    .footer .inner .text_wrap .gnb-06 p {
        font-size: 14px;
        padding-bottom: 50px;
    }
}




@media screen and (max-width: 650px) {
    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .mobile {
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        margin: 0 auto;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .pc {
        display: none;
    }

    .section-03 .video .mobile {
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .section-03 .video .mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-03 .video .pc {
        display: none;
    }

    .section-08 {
        margin-bottom: 100px;
    }
}


@media screen and (max-width: 550px) {



    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .mobile {
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        margin: 0 auto;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .pc {
        display: none;
    }

    .section-03 .video .mobile {
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .section-03 .video .mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-03 .video .pc {
        display: none;
    }



    .section-04 .inner .item_wrap .item_inner .left {
        position: relative;
    }

    .section-04 .inner .item_wrap .item_inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }

    .section-04 .inner .item_wrap .item_inner .image {
        order: -1;
        margin-bottom: 50px;
        width: 100%;
    }

    .section-04 .inner .item_wrap .item_inner .left {
        display: flex;
        justify-content: center;
        /* 가로 중앙 */
        align-items: center;
        /* 세로 중앙 */
        flex-direction: column;
        /* 수직 정렬 */
        margin: 0 auto;

        text-align: center;
        width: auto;
        /* 최대한 넓게 */

    }

    .section-04 .inner .item_wrap .item_inner .left .text h2 {
        font-size: 50px;
        display: flex;
        white-space: nowrap;
        text-align: center;
        margin: 0 auto;
    }

    .section-04 .inner .item_wrap .item_inner .left .text p {
        font-size: 16px;
        width: 100%;
        white-space: normal;
    }



    .section-04 .inner .item_wrap .item_inner .left {
        position: relative;
    }

    .section-04 .inner .item_wrap .item_inner .left .btn {
        width: 240px;
        height: 60px;
        position: absolute;
        top: -70%;
        left: 50%;

    }

    .section-04 .inner .item_wrap .item_inner .left .btn a {
        font-size: 14px;
    }

    .footer .inner {
        width: calc(100% - 16px);
        margin: 0 auto;


    }


    .section-08 .inner {
        display: flex;
        align-items: flex-start;
        /* 위쪽 기준 정렬 */
        gap: 20px;
        /* 이미지와 텍스트 사이 간격 */
    }

    .section-08 .image ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* 이미지들 간격 */
        width: 50%;

    }

    .section-08 .image ul li img {
        width: 100%;
        /* 원하는 크기 */
        height: auto;
        object-fit: cover;
        display: block;
    }

    .section-08 .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* 세로 중앙 정렬 */
        text-align: left;
    }

    .section-08 .inner .right .text h3 {
        margin: 0 0 40px 0;
        font-size: 30px;
        font-weight: bold;
    }

    .section-08 .right .text p {
        margin: 0 0 15px 0;
        font-size: 16px;
        color: #333;
    }

    .section-08 .right .icon a img {
        width: 100%;
        /* 아이콘 크기 조절 */
        height: auto;
        cursor: pointer;
    }

    .section-09 {
        width: 100%;
        margin-top: 100px;
    }

    .section-09 .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 30px;
        gap: 10px;

    }

    .section-09 .inner .item {

        border: 1px solid #222222;
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        text-align: center;
        gap: 10px;


    }

    .section-09 .inner .item .call {
        width: 38px;
        height: 34px;
        display: block;
    }

    .section-09 .inner .item .call img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-09 .inner .item .mail {
        width: 38px;
        height: 32px;
        display: block;
    }

    .section-09 .inner .item .mail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-09 .inner .item .text {
        font-size: 24px;
        display: block;
    }


    .footer .inner .text_wrap .gnb-01,
    .footer .inner .text_wrap .gnb-02,
    .footer .inner .text_wrap .gnb-03,
    .footer .inner .text_wrap .gnb-04,
    .footer .inner .text_wrap .gnb-05 {
        margin-bottom: 0px;


    }

    .footer .inner .text_wrap {
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;


    }

    .footer .inner .text_wrap ul li {
        padding-bottom: 20px;
    }

    .footer .inner .text_wrap ul li a {
        margin-right: 5px;
        display: block;
        flex-wrap: wrap;


    }

    .footer .inner .text_wrap .gnb-06 p {
        font-size: 13px;

    }
}

@media screen and (max-width: 500px) {


    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .mobile {
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        margin: 0 auto;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .pc {
        display: none;
    }

    .section-03 .video .mobile {
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .section-03 .video .mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-03 .video .pc {
        display: none;
    }


    .section-04 .inner .item_wrap .item_inner .left {
        position: relative;
    }

    .section-04 .inner .item_wrap .item_inner .left .btn {

        position: absolute;
        top: -70%;
        left: 100%;

    }

    .section-06 .inner .text_wrap ul {

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .section-06 .inner .text_wrap ul li {
        font-size: 16px;

        padding: 2px;
    }

    .section-09 .inner {
        gap: 10px;
        margin-bottom: 50px;
        cursor: pointer;
    }
}

@media screen and (max-width: 380px) {
    body {
        width: 100%;
        height: 100vh;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .mobile {
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        margin: 0 auto;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .pc {
        display: none;
    }

    .header .inner {
        width: calc(100% - 32px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 24px;
        text-align: center;
        gap: 50px;
    }


    .header .inner .center {
        display: none;
    }


    .header .inner .nav:first-child .gnb li a {
        display: none;
    }

    .header .inner .nav:first-child .gnb li a img {
        display: none;
    }

    .header .inner .nav:nth-child(2) .gnb li {
        display: none;
    }


    .header .inner .nav:nth-child(3) .gnb li a {

        display: block;
        width: 24px;
        height: 24px;

    }

    .header .inner .nav:nth-child(3) .gnb li a img {
        width: 100%;
        height: 100%;
        object-fit: cover;


    }

    .header .inner .nav:last-child .gnb li a {

        width: 25px;
        height: 25px;
        display: block;

    }

    .header .inner .nav .gnb li:last-child a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 80%);
        line-height: 1.3;
        font-size: 50px;
        display: block;

        white-space: nowrap;

    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .text {
        display: flex;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1.3;
        font-size: 50px;
        display: block;


    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .text strong {
        font-size: 32px;
        display: flex;
        white-space: nowrap;

    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .text p,
    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .text p strong {

        display: block;
        font-size: 16px;
        line-height: 1.3;
        white-space: nowrap;
    }


    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .mobile {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    .main .main_visual .swiper.mySwiper .swiper-wrapper .swiper-slide .video .pc {
        display: none;
    }

    .section-02 {
        background-color: #7474748c;
    }

    .section-02 .inner {

        width: calc(100% - 32px);
        margin: 0 auto;
    }

    .section-02 .inner .text_wrap {
        width: 100%;
        margin: 0 auto;
        z-index: 10;


        text-align: center;
        padding: 10px;




    }

    .section-02 .inner .text_wrap p,
    .section-02 .inner .text_wrap p strong {
        color: #fff;


        white-space: nomal;
        font-size: 14px;

        line-height: 1.5;

    }


    .section-02 .inner .text_wrap span a {}





    .section-02 .inner .image_wrap .scroll-box {
        width: 100%;
        height: 100vh;
        display: flex;
        gap: 20px;

    }



    .section-02 .inner .image_wrap .scroll-box li {

        width: 100%;
        height: 100%;
        object-fit: cover;


    }

    .section-03 .video {
        width: 100%;
    }

    .section-03 .video .mobile {
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .section-03 .video .mobile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-03 .video .pc {
        display: none;
    }

    .section-04 .inner {
        width: 100%;
        margin: 0 auto;
    }

    .section-04 .inner .item_wrap .item_inner .image:nth-child(1) img,
    .section-04 .inner .item_wrap .item_inner .image:nth-child(3) img {
        order: -1;
    }

    .section-04 .inner .item_wrap .item_inner {
        display: flex;
        flex-direction: column;

    }

    .section-04 .inner .item_wrap .item_inner .left {
        width: 100%;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        line-height: 1.4;
    }

    .section-04 .item_wrap:nth-of-type(2) .item_inner .left .text {
        order: 1;
    }

    .section-04 .inner .item_wrap .item_inner .left .text h2 {
        font-size: 50px;
        display: block;
    }

    .section-04 .inner .item_wrap .item_inner .left .text p {
        font-size: 16px;
        display: block;
        flex-wrap: wrap;
        margin: 30px 0 50px;
    }

    .section-04 .inner .item_wrap .item_inner .left .btn a {
        font-size: 14px;
        line-height: 60px;
        background-size: contain;
        display: block;
    }






    .section-04 .inner .item_wrap .item_inner .image {

        width: 100%;
        height: 70%;


    }

    .section-04 .inner .item_wrap .item_inner .image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .section-05 .inner .wrap .text h3 {
        font-size: 50px;
    }



    .section-06 .inner .image_box ul {
        flex-wrap: nowrap;

        gap: 16px;
    }

    .section-06 .inner .text_wrap ul li {
        font-size: 16px;
    }

    .section-06 .inner .text_wrap ul {
        flex-wrap: nowrap;
        width: max-content;
    }

    .section-06 .inner .text_wrap {
        overflow-x: auto;
    }

    .section-07 .inner .title h3 {
        font-size: 40px;
        margin-bottom: 20px;

    }

    .section-07 .inner .title p {
        font-size: 16px;
        margin-bottom: 45px;
    }

    .section-08 .inner {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .section-08 .inner .image {

        display: flex;
        flex-direction: column;
        width: 100%;


    }

    .section-08 .inner .image img {
        display: flex;
        flex-direction: column;
        height: 100%;
        object-fit: cover;
        width: 100%;

    }

    .section-08 .inner .right {
        order: -1;
    }

    .section-08 .inner .right .text h3 {
        font-size: 40px;
        padding-bottom: 10px;
        display: block;
        margin: 0 auto;
    }

    .section-08 .inner .right .text p {
        font-size: 20px;
        margin-bottom: 35px;
    }

    .section-08 .inner .right .icon {
        width: 40px;
        height: 40px;

    }

    .section-09 {
        width: 100%;

    }

    .section-09 .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;


    }

    .section-09 .inner .item {

        border: 1px solid #222222;
        width: 100%;

        margin: 0 auto;
        text-align: center;



    }

    .section-09 .inner .item .call {
        width: 38px;
        height: 34px;
        display: block;
    }

    .section-09 .inner .item .call img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-09 .inner .item .mail {
        width: 38px;
        height: 32px;
        display: block;
    }

    .section-09 .inner .item .mail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section-09 .inner .item .text {
        font-size: 24px;
        display: block;
    }

    .footer .inner {
        width: calc(100% - 16px);
        margin: 0 auto;


    }

    .footer .inner .text_wrap .gnb-01,
    .footer .inner .text_wrap .gnb-02,
    .footer .inner .text_wrap .gnb-03,
    .footer .inner .text_wrap .gnb-04,
    .footer .inner .text_wrap .gnb-05 {
        margin-bottom: 0px;


    }

    .footer .inner .text_wrap {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;


    }

    .footer .inner .text_wrap ul li {
        padding-bottom: 10px;
    }

    .footer .inner .text_wrap ul li a {
        margin-right: 5px;
        display: block;
        flex-wrap: wrap;


    }

    .footer .inner .text_wrap .gnb-06 p {
        font-size: 12px;
        padding-bottom: 30px;
    }

}