@font-face {
    font-family: 'MemomentKkukkukk';
    src: url('MemomentKkukkukkR.eot');
    src: url('MemomentKkukkukkR.eot?#iefix') format('embedded-opentype'),
        url('MemomentKkukkukkR.woff2') format('woff2'),
        url('MemomentKkukkukkR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

